@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
